<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <!-- Contact Address Start -->
        <div class="contact--address">
          <h2>CONTACT ADDRESS</h2>

          <address>
            <p>
              <fa-icon [icon]="faHome"></fa-icon> Wallace Stet #14, GL13AH, Glasgow.
            </p>
            <p>
              <fa-icon [icon]="faEnvelope"></fa-icon> support@example.com
            </p>
            <p>
              <fa-icon [icon]="faPhone"></fa-icon> +44 141 000 000
            </p>
            <p>
              <fa-icon [icon]="faMobile"></fa-icon> +44 0141-123456
            </p>
          </address>
        </div>
        <!-- Contact Address End -->

        <!-- Contact Social Start -->
        <div class="contact--social">
          <ul>
            <li><a href="#">
                <fa-icon [icon]="faFacebook"></fa-icon>
              </a></li>
            <li><a href="#">
                <fa-icon [icon]="faTwitter"></fa-icon>
              </a></li>
            <li><a href="#">
                <fa-icon [icon]="faLinkedin"></fa-icon>
              </a></li>
            <li><a href="#">
                <fa-icon [icon]="faGooglePlus"></fa-icon>
              </a></li>
            <li><a href="#">
                <fa-icon [icon]="faRss"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
        <!-- Contact Social End -->
      </div>

      <div class="col-sm-6">
        <!-- Contact Form Start -->
        <div class="contact--form">
          <div class="contact-form-status"></div>

          <form name="form" #f="ngForm"
            (ngSubmit)="onHandleContact(f, fullname.value, email.value, subject.value, message.value)">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="fullname" class="form-control" placeholder="Name"
                    [(ngModel)]="model.fullname" #fullname="ngModel" fullname>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="contactEmail" class="form-control" placeholder="Email"
                    [(ngModel)]="model.email" #email="ngModel" email>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" name="subject" class="form-control" placeholder="Subject" [(ngModel)]="model.subject"
                #subject="ngModel" subject>
            </div>

            <div class="form-group">
              <textarea name="message" class="form-control" rows="9" placeholder="Message" [(ngModel)]="model.message"
                #message="ngModel" message></textarea>
            </div>
            <flash-messages></flash-messages>
            <input type="submit" value="SEND" class="submit-btn btn--primary">
          </form>
        </div>
        <!-- Contact Form End -->
      </div>
    </div>
  </div>
</div>
