<!-- About Area Start -->
<div id="about">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2><strong>ABOUT ME</strong></h2>
    </div>
    <!-- Section Title End -->

    <div class="row">
      <div class="col-md-6">
        <h3>WHO <strong>AM I</strong>?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
          velit, esse pariatur in minima nostrum harum dolorum perferendis quasi dolor autem deleniti inventore.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
          velit, esse pariatur in minima nostrum harum dolorum perferendis quasi dolor autem deleniti inventore.</p>

        <a href="#" class="btn btn--primary">DOWNLOAD MY CV</a>
      </div>

      <div class="col-md-6">
        <h3>EXPERT <strong>IN</strong></h3>

        <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque sapien at
          aliquet.</p>

        <!-- About Progrees Items Start -->
        <div class="about--progress-items">
          <!-- About Progrees Bar Start -->
          <h4>JAVASCRIPT</h4>

          <div class="progress">
            <div class="progress-bar" data-progress="60"><span>60%</span></div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>CSS</h4>

          <div class="progress">
            <div class="progress-bar" data-progress="90"><span>90%</span></div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>ANGULAR</h4>

          <div class="progress">
            <div class="progress-bar" data-progress="70"><span>70%</span></div>
          </div>
          <!-- About Progrees Bar End -->

          <!-- About Progrees Bar Start -->
          <h4>REACT</h4>

          <div class="progress">
            <div class="progress-bar" data-progress="50"><span>50%</span></div>
          </div>
          <!-- About Progrees Bar End -->
        </div>
        <!-- About Progrees Items End -->
      </div>
    </div>

    <!-- About Info Start -->
    <div class="about--info">
      <div class="row">
        <div class="col-md-6">
          <div class="about--info-wrapper">
            <h3><strong>EDU</strong>CATION</h3>

            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>2018-2019</p>
                  <h5><strong>UWS UNIVERSITY</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4><strong>WEB/MOBILE</strong> DEVELOPMENT</h4>

                  <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
                    sapien at aliquet.</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->

            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>2017-2018</p>
                  <h5><strong>GLASGOW COLLEGE</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4><strong>DESIGN</strong> WEB DEVELOPMENT</h4>

                  <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
                    sapien at aliquet.</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="about--info-wrapper">
            <h3><strong>EX</strong>PERIENCE</h3>

            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>2019-2019</p>
                  <h5><strong>TRAVELTEK</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4><strong>FRONT-END</strong> DEVELOPER</h4>

                  <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
                    sapien at aliquet.</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->

            <!-- About Info Item Start -->
            <div class="about--info-item">
              <div class="row reset-gutter">
                <div class="col-xs-4">
                  <p>2019-2019</p>
                  <h5><strong>RENFREWSHIRE COUNCIL</strong></h5>
                </div>

                <div class="col-xs-8 about--info-border">
                  <h4><strong>BA</strong> ANALYST</h4>

                  <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
                    sapien at aliquet.</p>
                </div>
              </div>
            </div>
            <!-- About Info Item End -->
          </div>
        </div>
      </div>
    </div>
    <!-- About Info End -->
  </div>
</div>
<!-- About Area End -->
