<div id="gallery">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2><strong>MY WORKS</strong></h2>
    </div>
    <!-- Section Title End -->

    <!-- Gallery Filter Menu Start -->
    <div class="gallery-filter-menu">
      <ul>
        <li class="active">
          <button class="btn--default" [class.active]="filterBy === 'all'" (click)="filterBy = 'all'">ALL
            PROJECTS</button>
        </li>
        <li *ngFor="let item of visibleImages | filterUnique">
          <button class="btn--default upper" [class.active]="filterBy === item"
            (click)="filterBy = item">{{item}}</button>
        </li>
      </ul>
    </div>
    <!-- Gallery Filter Menu End -->

    <!-- Gallery Items Start -->
    <div class="row gallery-items">
      <!-- Gallery Item Start -->
      <ngx-masonry [useImagesLoaded]="true">
        <div ngxMasonryItem *ngFor="let image of (visibleImages | filter:filterBy)"
          class="col-3 col-xs-12 col-sm-4 col-md-3 thumbnail gallery-item">
          <img src="{{image.url}}" alt="" />

          <div class="gallery-overlay">
            <div class="vc--parent">
              <div class="vc--child">
                <h2>{{image.caption}}</h2>

                <p>{{image.description}}</p>

                <button class="btn gallery--window" (click)="this.open(image)">View Project</button>
              </div>
            </div>
          </div>
        </div>
      </ngx-masonry>

      <!-- Gallery Item End -->
    </div>
    <!-- Gallery Items End -->
  </div>

  <!-- Gallery Details Modal Start -->
  <app-modal-basic></app-modal-basic>
</div>
