<div id="gallery">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2><strong>MY WORKS</strong></h2>
    </div>
    <!-- Section Title End -->

    <!-- Gallery Filter Menu Start -->
    <div class="gallery-filter-menu">
      <ul>
        <li class="active"><button class="btn--default" [class.active]="filterBy==='all'" (click)="filterBy='all'">ALL
            PROJECTS</button></li>
        <li><button href="website-item" class="btn--default" [class.active]="filterBy==='react'"
            (click)="filterBy='react'">REACT</button></li>
        <li><button href="application-item" class="btn--default" [class.active]="filterBy==='application'"
            (click)="filterBy='application'">APPLICATION</button></li>
        <li><button href="application-item" class="btn--default" [class.active]="filterBy==='angular'"
            (click)="filterBy='angular'">ANGULAR</button></li>
        <li><button href="application-item" class="btn--default" [class.active]="filterBy==='wordpress'"
            (click)="filterBy='wordpress'">WORDPRESS</button></li>
      </ul>
    </div>
    <!-- Gallery Filter Menu End -->

    <!-- Gallery Items Start -->
    <div class="row gallery-items">
      <!-- Gallery Item Start -->
      <div *ngFor="let image of (visibleImages | imageFilter:filterBy)"
        class="col-xs-12 col-sm-4 col-md-3 thumbnail gallery-item" data-cat="website-item">
        <img src="{{image.url}}" alt="" />

        <div class="gallery-overlay">
          <div class="vc--parent">
            <div class="vc--child">
              <h2>{{image.caption}}</h2>

              <p>{{image.description}}</p>

              <button class="btn gallery--window" (click)="this.open(image)">View Project</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Gallery Item End -->

      <!-- Gallery Item Start
      <div class="col-xs-12 col-sm-4 col-md-3 thumbnail gallery-item" data-cat="application-item">
        <img src="assets/img/gallery/gallery-2.png" alt="" />

        <div class="gallery-overlay">
          <div class="vc--parent">
            <div class="vc--child">
              <h2>PROJECT TITLE</h2>

              <p>Lorem ipsum dolor sit amet con sectetur adipiscing elit sed do.</p>

              <button class="btn gallery--window" (click)="open(website)">View Project</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Gallery Item End -->
    </div>
    <!-- Gallery Items End -->
  </div>

  <!-- Gallery Details Modal Start -->
  <app-modal-basic></app-modal-basic>
</div>
