<div class="about--info-wrapper">
  <h3><strong>EX</strong>PERIENCE</h3>

  <!-- About Info Item Start -->
  <div class="about--info-item">
    <div class="row reset-gutter">
      <div class="col-xs-4">
        <p>2019-2019</p>
        <h5><strong>TRAVELTEK</strong></h5>
      </div>

      <div class="col-xs-8 about--info-border">
        <h4><strong>FRONT-END</strong> DEVELOPER</h4>

        <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
          sapien at aliquet.</p>
      </div>
    </div>
  </div>
  <!-- About Info Item End -->

  <!-- About Info Item Start -->
  <div class="about--info-item">
    <div class="row reset-gutter">
      <div class="col-xs-4">
        <p>2019-2019</p>
        <h5><strong>RENFREWSHIRE COUNCIL</strong></h5>
      </div>

      <div class="col-xs-8 about--info-border">
        <h4><strong>BA</strong> ANALYST</h4>

        <p>Poin dui orci, pretium eget fringilla sit amet, luctus a nisl. Praesent tristique scelerisque
          sapien at aliquet.</p>
      </div>
    </div>
  </div>
  <!-- About Info Item End -->
</div>
