<div class="about--info-wrapper">
  <h3><strong>EX</strong>PERIENCE</h3>

  <!-- About Info Item Start -->
  <div *ngFor="let exp of visibleExp" class="about--info-item">
    <div class="row reset-gutter">
      <div class="col-xs-4">
        <p *ngIf="exp.current">{{exp.from.$date | date: 'd MMM, y'}} - Present</p>
        <p *ngIf="exp.current === false">{{exp.from.$date | date: 'd MMM, y'}} - {{exp.to.$date | date: 'd MMM, y'}}</p>
        <h5><strong>{{exp.company}}</strong></h5>
      </div>

      <div class="col-xs-8 about--info-border">
        <h4 [innerHtml]="exp.title | oddBoldText"></h4>

        <p>{{exp.description}}</p>
      </div>
    </div>
  </div>
  <!-- About Info Item End -->
</div>
