<!-- Banner Area Start -->
<div id="banner">
  <div class="container">
    <div class="vc--parent">
      <div class="vc--child">
        <!-- Banner Content Start -->
        <div class="banner--content">
          <h2><span class="color--thick">Let's </span><span class="thick">Build</span><span class="color--thick">
              Something </span><span class="thick">Great</span><span class="color--thick"> Together </span></h2>

          <p>I'm the pixel crafter based in <a href="https://davideagosti.co.uk" target="_blank"><strong
                class="color--thick">#Glasgow</strong></a>. I make the visual for web and mobile application to be
            more interactive</p>

          <a pageScroll [routerLink]="['home']" href="#contact" class="btn--default">LET'S TALK</a>
        </div>
        <!-- Banner Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End -->
<div appParallax [ratio]="1.4" id="prlxBanner"></div>
