<div class="wrapper">
  <!-- Preloader Start -->
  <app-spinner></app-spinner>
  <!-- Preloader End -->

  <!-- Header Nav Start -->
  <header-nav></header-nav>
  <!-- Header Nav End -->

  <!-- Banner Start -->
  <home-banner></home-banner>
  <!-- Banner End -->

  <!-- About Start -->
  <app-about></app-about>
  <!-- About End -->

  <!-- Service Start -->
  <app-services></app-services>
  <!-- Service End -->

  <!-- Gallery Start -->
  <app-gallery></app-gallery>
  <!-- Gallery End -->

  <!-- Blog Start -->
  <app-blog></app-blog>
  <!-- Blog End -->

  <!-- Contact Start -->
  <app-contact></app-contact>
  <!-- Contact End -->

  <!-- Map Area Start -->
  <app-map></app-map>
  <!-- Map Area End -->

  <!-- Footer Area Start -->
  <div id="footer">
    <div class="container">
      <!-- Footer Copyright Start -->
      <div class="footer--copyright">
        <p>Copyright &copy; 2019 <a href="http://davideagosti.me">DA</a>. All Rights Reserved.</p>
      </div>
      <!-- Footer Copyright End -->
    </div>
  </div>
  <!-- Footer Area End -->

  <!-- Back To Top Area Start -->
  <backTop></backTop>
  <!-- Back To Top Area End -->
</div>
