<div id="services" class="bg--overlay prlx" ngParallax imgSrc="assets/img/banner/bg.jpg" bgPosition="50% 50%"
  imgHeight="60vh" [ratio]="-0.2" bgAttachment="scroll">
  <div class="container">
    <!-- Section Title Start -->
    <div class="section--title">
      <h2><strong>WHAT I DO</strong></h2>
    </div>
    <!-- Section Title End -->

    <div class="row row-eq-height">
      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-laptop"></i>
        </div>

        <div class="service--content">
          <h2>WEB <strong>DESIGN</strong> &amp; <strong>UI</strong></h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-object-group"></i>
        </div>

        <div class="service--content">
          <h2>USER <strong>FLOW</strong> &amp; <strong>WIREFRAMES</strong></h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-paint-brush"></i>
        </div>

        <div class="service--content">
          <h2>VISUAL <strong>DESIGN</strong></h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-mobile"></i>
        </div>

        <div class="service--content">
          <h2>MOBILE <strong>APP</strong> DESIGN</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-first-order"></i>
        </div>

        <div class="service--content">
          <h2>LOGO <strong>DESIGN</strong></h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->

      <!-- Service Item Start -->
      <div class="col-md-4 col-sm-6 service--item">
        <div class="service--icon">
          <i class="fa fa-clone"></i>
        </div>

        <div class="service--content">
          <h2>PRINT <strong>DESIGN</strong></h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non vel, sint nisi possimus sunt veritatis totam
            velit.</p>
        </div>
      </div>
      <!-- Service Item End -->
    </div>
  </div>
</div>
