<h3>SK<strong>ILLS</strong></h3>

<p>My Knowledge Level in Design and Web and Mobile Development.</p>

<!-- About Progrees Items Start -->
<div class="about--progress-items">
  <!-- About Progrees Bar Start -->
  <div *ngFor="let skill of visibleSkill">
    <h4>{{skill.skillTitle}}</h4>
    <div class="progress">
      <div class="progress-bar" data-progress="60"><span>{{skill.skillPercent}}%</span></div>
    </div>
  </div>
  <!-- About Progrees Bar End -->
</div>
<!-- About Progrees Items End -->
