.modal-header {
	display: block;
	align-items: none;
	justify-content: space-between;
	padding: 18px 40px 20px;
	border: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
}

.modal-title + p {
	margin-top: 3px;
}

.modal-footer {
	display: block;
	align-items: none;
	justify-content: flex-end;
	padding: 0 40px;
	border: none;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.modal-header .close {
	cursor: pointer;
}
