//colors
$color_primary: #ec830b;
$color_1: #303030;
$color_2: #fff;
$color_3: #231f20;
$color_4: #999999;
$color_5: #999;
$color_6: #54baec;
$color_nav: #171717;
$font_family_1: 'Raleway', sans-serif;
$font_family_2: "FontAwesome";
$background_color_1: #303030;
$background_color_2: #fff;
$background_color_3: transparent;
$background_color_4: #f3f3f3;
$background_color_5: #e9e9e9;
$background_color_6: #ebebeb;
$background_color_7: #f8f8f8;
$background_color_8: #f9f9f9;
$background_color_line: #ec830b;
$border_color_1: #737373;
$border_color_2: #fff;
$border_color_3: #303030;
$border_color_4: #ccc;
$border_color_5: #e9e9e9;
$border_color_6: #aaa;

//urls
$img_url_0: url(assets/img/flat-icons/fa-calender.png);
$img_url_1: url(assets/img/flat-icons/fa-caret-down.png);
$img_url_2: url(assets/img/flat-icons/fa-caret-down-white.png);
