//colors
$white: #fff;
$color_alabaster_approx: #f9f9f9;
$color_mine_shaft_approx: #303030;
$color_tapa_approx: #737373;
$color_concrete_approx: #f3f3f3;
$black_14: rgba(0, 0, 0, 0.14);
$black_28: rgba(0, 0, 0, 0.28);
$color_gray_nurse_approx: #e9e9e9;
$color_star_dust_80_approx: rgba(159, 156, 151, 0.8);
$color_celeste_approx: #ccc;
$color_zeus_approx: #231f20;
$color_cararra_approx: #ebebeb;
$color_alto_approx: #ddd;
$color_desert_storm_approx: #f8f8f8;
$white_20: rgba(255, 255, 255, 0.2);
$color_mountain_mist_approx: #999999;
$color_silver_chalice_approx: #aaa;
$color_nobel_approx: #b6b6b6;
$color_picton_blue_approx: #54baec;

//fonts
$font_0: Raleway;
$font_1: sans-serif;
$font_2: FontAwesome;

//urls
$url_0: url(assets/img/flat-icons/fa-calender.png);
$url_1: url(assets/img/flat-icons/fa-caret-down.png);
$url_2: url(assets/img/flat-icons/fa-caret-down-white.png);
