<!-- Banner Area Start -->
<div id="banner" data-parallax-bg-img="img/banner-img/bg.jpg" data-position-y="0px">
  <div class="container">
    <div class="vc--parent">
      <div class="vc--child">
        <!-- Banner Content Start -->
        <div class="banner--content">
          <h2>Let's <span class="thick">Build</span> Something <span class="thick">Great</span> Together</h2>

          <p>I'm the pixel crafter based in <a href="https://davideagosti.co.uk"
              target="_blank"><strong>#Glasgow</strong></a>. I make the visual for web and mobile application to be
            more interactive</p>

          <a href="#contact" class="btn--default AnimateScrollLink">LET'S TALK</a>
        </div>
        <!-- Banner Content End -->
      </div>
    </div>
  </div>
</div>
<!-- Banner Area End -->
